@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* foi mal, eu realmente amo essa fonte Jetbrains rsrsrs */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

input, textarea, button {
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
/* só quero confirmar que não terá bordas na tela */
html, body {
  width: 100%;
  height: 100%;
}
.vw-access-button {
  bottom: 20px !important;
}